adium-theme-ubuntu==0.3.4
beautifulsoup4==4.4.1
chardet==2.3.0
compizconfig-python==0.9.12.2
defer==1.0.6
dj-database-url==0.4.2
Django==1.11.6
gyp==0.1
html5lib==0.999
lxml==3.5.0
olefile==0.44
Pillow==4.3.0
psycopg2==2.7.3.2
pygobject==3.20.0
python-apt==1.1.0b1
python-debian==0.1.27
pytz==2017.2
pyxdg==0.25
reportlab==3.4.0
six==1.10.0
ubuntu-tweak==0.8.7
unity-lens-photos==1.0
