

 {%extends 'base/vistas_base.html' %}
 {% load static %}
 {% block title %} Agregar Producto {% endblock %}
 {% block content %}


 <!-- Main Wrapper -->
<div id="wrapper">
  <div class="row">
    <div class="col-lg-6">
        <div class="hpanel">
            <div class="panel-heading">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    <a class="closebox"><i class="fa fa-times"></i></a>
                </div>
                Line type chart
            </div>
            <div class="panel-body">
                <div>
                    <canvas id="lineOptions" height="140"></canvas>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>


 <footer class="footer">
 <span class="pull-right">
     Todos los Derechos Reservados <i class="fa fa-copyright"></i>
 </span>
 Vive Tu Futuro 2017-2020
 </footer>

 <!-- App scripts -->
 <script >

 <script>
   $(document).ready(function(event){
     {% block jquery %}
     /**
      * Options for Sharp Line chart
      */
      console.log("AQUI")
     var sharpLineData = {
         labels: ["January", "February", "March", "April", "May", "June", "July"],
         datasets: [
             {
                 label: "Example dataset",
                 fillColor: "rgba(98,203,49,0.5)",
                 strokeColor: "rgba(98,203,49,0.7)",
                 pointColor: "rgba(98,203,49,1)",
                 pointStrokeColor: "#fff",
                 pointHighlightFill: "#fff",
                 pointHighlightStroke: "rgba(98,203,49,1)",
                 data: [33, 48, 40, 19, 54, 27, 54]
             }
         ]
     };

     var sharpLineOptions = {
         scaleShowGridLines : true,
         scaleGridLineColor : "rgba(0,0,0,.05)",
         scaleGridLineWidth : 1,
         bezierCurve : false,
         pointDot : true,
         pointDotRadius : 4,
         pointDotStrokeWidth : 1,
         pointHitDetectionRadius : 20,
         datasetStroke : true,
         datasetStrokeWidth : 1,
         datasetFill : true,
         responsive: true
     };

     var ctx = document.getElementById("sharpLineOptions").getContext("2d");
     var myNewChart = new Chart(ctx).Line(sharpLineData, sharpLineOptions);
   });
 </script>

 {% endblock %}
