{% extends 'base/main.html' %}
{% load static  %}
{% block title %}Comprar Creditos{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-2 animated-panel zoomIn" style="animation-delay: 0.1s;">
    </div>
      <div class="col-md-8 animated-panel zoomIn" style="animation-delay: 0.1s;">
          <div class="hpanel">
              <div class="panel-body">
        <h1 class="text-center padding-up">Ingresa los datos de tu tarjeta.</h1>
        <form method="POST" id="card-form" class="text-center">
          {% csrf_token %}
          <div class="col-lg-9">
              <div class="row">
                  <div class="form-group col-lg-12">
                    <div class="row">
                        <div class="col-xs-6 form-group">
                          <label>Tipo de Tarjeta</label>
                          <input class="form-control input-lg m-b" type="text" size="20" data-conekta="card[name]" class="input"/>
                        </div>
                        <div class="col-xs-6 form-group">
                          <label>Numero de Tarjeta</label>
                          <input class="form-control input-lg m-b" type="text" size="20" data-conekta="card[number]" class="input"/>
                        </div>
                        <div class="col-xs-4 form-group">
                          <label>Expiration Date (MM/AAAA)</label>
                          <div class="grid">
                            <input class="form-control input-lg m-b" type="text" size="2" data-conekta="card[exp_month]" class="input cell-4 exp"/>
                            <span class="cell-4 exp">/</span>
                            <input class="form-control input-lg m-b" type="text" size="4" data-conekta="card[exp_year]" class="input cell-4 exp"/>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-lg-6">
                          <label>CVC</label>
                          <input class="form-control input-lg m-b" type="password" size="4" data-conekta="card[cvc]" class="input"/>
                        </div>
                        <div class="form-group col-lg-6">
                          <label >Address</label>
                          <input class="form-control input-lg m-b" type="text" size="25" data-conekta="card[address][street1]" class="input"/>
                        </div>
                        <div class="form-group col-lg-6">
                          <label >City</label>
                          <input class="form-control input-lg m-b" type="text" size="25" data-conekta="card[address][city]" class="input"/>
                        </div>
                        <div class="form-group col-lg-6">
                          <label >State</label>
                          <input class="form-control input-lg m-b" type="text" size="25" data-conekta="card[address][state]" class="input"/>
                        </div>
                        <div class="form-group col-lg-6">
                          <label >ZIP</label>
                          <input class="form-control input-lg m-b" type="text" size="5" data-conekta="card[address][zip]" class="input"/>
                        </div>
                        <div class="form-group col-lg-6">
                          <label >Country</label>
                          <input class="form-control input-lg m-b" type="text" size="25" data-conekta="card[address][country]" class="input"/>
                        </div>
                        <div class="form-group col-lg-6">
                          <label >Cantidad</label>
                          <input id="demo2" name="cantidad" value="0" data-conekta="card[line_items][quantity]" class="form-control" style="display: block;"type="number"/>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
          <button type="submit" class="button">Charge me, babe!</button>
        </form>
        </div>
      </div>
    </div>
    </div>



{% endblock %}
