{% extends 'base/vistas_base.html' %}
{% load static  %}
{% block title %}Agenda{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static "styles/vive.css" %}"/>
{% endblock %}

{% block content %}

<div class="content animate-panel">
<form method="POST">
  {% csrf_token %}
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hgreen">
                <div class="panel-heading mayusculas">
                      <h3>Agendar Cita</h3>
                </div>
                <div class="panel-body">
                  {{cita.as_p}}
                </div>
            </div>
        </div>
    </div>
  </form>
</div>




<!-- Vendor scripts -->
{% endblock %}
