{% extends 'base/vistas_base.html' %}
{% load static  %}
{%block title%}Hola Cliente{%endblock%}

<!-- CSS individuales -->
{% block css %}
    <link rel="stylesheet" href="{% static "vendor/fullcalendar/dist/fullcalendar.print.css"%}" media='print'>
    <link rel="stylesheet" href="{% static "vendor/fullcalendar/dist/fullcalendar.min.css" %}">
{% endblock %}

{% block content %}
  <div class="content">
    <div class="row">
      <div class="col-lg-12">
        <div class="hpanel">
          <div class="panel-body">
            <div class="text-center m-b-md" id="wizardControl">
                <a class="btn btn-info" href="#step1" data-toggle="tab">Citas</a>
            </div>
            <div class="tab-content">
            <div id="step1" class="p-m tab-pane active">
              <div class="row">

            <div class="col-lg-2 text-center">
            <i class="pe-7s-date fa-5x text-muted"></i>
            <p class="middle m-t-md">
              <strong>Tus citas. <br>Organizate a tus tiempos </strong>
            </p>
            <p class="middle m-t-md">
              <a href="{% url 'agenda:contactos' %}"><button>Agrega citas</button></a>
            </p>
          </div>
            <div id="calendar"></div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block javascripts %}
  <script src="{% static "vendor/moment/min/moment.min.js" %}"></script>
  <script src="{% static "vendor/fullcalendar/dist/fullcalendar.min.js" %}"></script>
  <script src="{% static "vendor/fullcalendar/dist/lang-all.js" %}"></script>

  <script>

  function activar(){
    $(this).click();
    console.log(""+$(this));
      $('#calendar').fullCalendar('render');
    }

    $(function(){

        /* initialize the calendar
         -----------------------------------------------------------------*/
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        $('#calendar').fullCalendar({
          //lang: 'es',
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            editable: true, //true
            droppable: false, //true, this allows things to be dropped onto the calendar
            drop: function() {
                // is the "remove after drop" checkbox checked?
                if ($('#drop-remove').is(':checked')) {
                    // if so, remove the element from the "Draggable Events" list
                    $(this).remove();
                }
            },
            events: [
                  {% for k in cita %}
                    {
                      title: 'Cita',
                      start: new Date("{{ k.fecha.isoformat}}"),
                      allDay: false
                    },
                  {% endfor %}
            ],
        });

      //Funcion da estilo a botones
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            $('a[data-toggle="tab"]').removeClass('btn-success');
            $('a[data-toggle="tab"]').addClass('btn-default');
            $(this).removeClass('btn-default');
            $(this).addClass('btn-info');
        })

        /* initialize the external events
         -----------------------------------------------------------------*/
        $('#external-events div.external-event').each(function() {

            // store data so the calendar knows to render an event upon drop
            $(this).data('event', {
                title: $.trim($(this).text()), // use the element's text as the event title
                stick: true // maintain when user navigates (see docs on the renderEvent method)
            });

            // make the event draggable using jQuery UI
            $(this).draggable({
                zIndex: 1111999,
                revert: true,      // will cause the event to go back to its
                revertDuration: 0  //  original position after the drag
            });

        });

        activar();
    });
  </script>
{% endblock %}
