{% extends 'base/vistas_base.html' %}
{% load static  %}
{% block title%} Mis Clientes {% endblock %}
{% block content %}
<div class="normalheader transition animated fadeIn">
  <div class="hpanel">
      <div class="panel-body">
          <a class="small-header-action" href="">
              <div class="clip-header">
                  <i class="fa fa-arrow-up"></i>
              </div>
          </a>
          <h2 class="font-light m-b-xs">
              {% if bien == 0 %}
                  Esfuerzate un poco mas, tu puedes!
              {% else %}
                Es impresionante! Todos tus clientes tienen cita. Felicidades sigue asi. :)
              {% endif %}
          </h2>
      </div>
  </div>
</div>
  <div class="content animate-panel">
    <div class="row">
      <div class="col-lg-12">
        <div class="hpanel hgreen">
          <div class="panel-heading mayusculas">
            Citas
          </div>
          <div class="panel-body">
            <table id="clientesTable" class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Tipo de Cita</th>
                    <th>Estado</th>
                    <th>Direccion</th>
                    <th>Fecha y Hora</th>
                    <th>Descripcion</th>
                    <th>Opciones</th>
                </tr>
              </thead>
              <tbody>
                {% for i in citas %}
                  <tr>
                      <td>{{i.idAsesorCliente.idCliente.user.first_name}} {{i.idAsesorCliente.idCliente.user.last_name}}</td>
                      <td>{{i.idTipoCita.nombre}}</td>
                      <td>{{i.idEstatus.nombre}}</td>
                      <td>{{i.direccionCita}}</td>
                      <td>{{i.fecha}}</td>
                      <td>{{i.descripcion}}</td>
                      <td>
                        <a href="{% url 'agenda:editar' i.idCita %}" class="white a_white">
                          <button class="btn btn-warning btn-xs" type="button">
                              <i class="fa fa-pencil"></i>
                          </button>
                        </a>

                        <button class="btn btn-danger btn-xs" type="button" data-toggle="modal" data-target="#{{i.idCita}}">
                            <i class="fa fa-times"></i>
                        </button>
                        <div class="modal fade" id="{{i.idCita}}" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="color-line"></div>
                                        <div class="modal-header text-center">
                                            <h4 class="modal-title">Eliminar Cita</h4>
                                        </div>
                                        <div class="modal-body">
                                            <strong> ¿Está seguro que desea eliminar la cita? </strong>.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                            <a href="{% url 'agenda:eliminar' i.idCita %}" class="white a_white">
                                              <button type="button" class="btn btn-danger">Eliminar</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                        </div>
                      </td>
                  </tr>
                {%endfor%}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="content animate-panel">
      <div class="row">
          <div class="col-lg-12">
              <div class="hpanel hred">
                <div class="panel-heading mayusculas">
                    Sin Citas
                </div>
                <div class="panel-body">
                <table id="clientesTable" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Email</th>
                    <th>Cliente Prospecto</th>
                    <th>Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for i in sin_cita %}
                  <tr>
                      <td>{{i.idCliente.user.first_name}} {{i.idCliente.user.last_name}}</td>
                      <td>{{i.idCliente.user.email}}</td>
                      {% if i.clienteProspecto == True%}
                        <td>Si</td>
                      {% else %}
                        <td>No</td>
                      {% endif %}
                      <td>
                        <a href="{% url 'agenda:agendar' i.idAsesorCliente %}" class="white a_white">
                          <button class="btn btn-warning btn-xs" type="button">
                              <i class="fa fa-pencil"></i>
                          </button>
                        </a>

                      </td>
                  </tr>
                {%endfor%}
              </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="{% url 'login:hola' %}" class="btn btn-success btn-m">
        <span class="bold">Regresar</span>
        <i class="fa fa-angle-right"></i>
    </a>
</div>

  <footer class="footer">
      <span class="pull-right">
          Todos los Derechos Reservados <i class="fa fa-copyright"></i>
      </span>
      Vive Tu Futuro 2017-2020
  </footer>
<!-- Vendor scripts -->
{% endblock %}
