{% extends 'base/otros_base.html' %}
{% load static  %}
{% block title %}404{% endblock %}
{% block content %}
<div class="error-container">
    <i class="pe-7s-way text-success big-icon"></i>
    <h1>404</h1>
    <strong class="fuerte">Página no encontrada</strong>
    <p>
		Lo sentimos, pero la página que estas buscando no ha sido encontrada. Revisa que la URL ingresada sea correcta, luego pulsa el botón de actualización en tu navegador o intenta encontrar algo más en nuestra aplicación.
    </p>
    <a href="{% url 'login:hola' %}" class="btn btn-xs btn-success">Volver al Inicio</a>
  </div>
{% endblock%}
