{% extends 'base/landing_base.html' %}
{% load static %}

{% block content %}
<body class="landing-page">

<!-- Simple splash screen-->
<div class="splash"> <div class="color-line"></div>
  <div class="splash-title">
    <h1>Espera, por favor. </h1><p>El sistema está cargando tu futuro. </p>
    <img src="{% static "images/loading-bars.svg" %}" width="64" height="64" />
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header" style="height: 55px;">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="" >
                <img src="{% static "images/landing/logo.svg" %}" height="50px" class="imgSVG" alt="imagen SVG" title="imagen SVG" />
                <!--<img src="{% static "images/landing/logo1.svg" %}" height="55px" class="imgSVG" alt="imagen SVG" title="imagen SVG" />-->
            </a>
            <div class="brand-desc">
            </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a class="page-scroll" href="#page-top">Inicio</a></li>
                <li><a class="page-scroll"  href="#components">Oferta</a></li>
                <li><a class="page-scroll"  href="#team">Nuestras Historias</a></li>
                <li><a class="page-scroll"  href="#pricing">Precios </a></li>
                <li><a class="page-scroll"  href="#contact">Contacto</a></li>
                <li class="dropdown">
                    <a href="{% url 'login:login' %}">
                       Iniciar Sesion <i class="pe-7s-upload pe-rotate-90"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header id="page-top" style="min-height: 100%;">
    <div class="container ">
    <div class="row">
        <div class="heading animated bounceInLeft shake col-md-6">
            <div class="row" style="background-color:#0082C8;">
                <h1 class="" style="font-size: 80px;">
                    Vive tu futuro
                </h1>
                <span style="font-size: 20px;">¡ Alcanza tu Lbertad Financiera ahora mismo !</span><br>
                <br>
                <a class="btn btn-success btn-lg" href="#components">Conoce más</a>
            </div>
        </div>
        
        <div class="heading-image animated bounceInRight animate-panel col-md-6">
            <!--<img class="img-animate" src="images/landing/c1.jpg" %}">-->
            <div class="contrainer" >
              <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="{% static "images/landing/carousel1.jpg" %}" style="width:100%;"/>
                  </div>

                  <div class="item">
                    <img src="{% static "images/landing/carousel2.jpg" %}" style="width:100%;"/>
                  </div>

                  <div class="item">
                    <img src="{% static "images/landing/carousel3.jpg" %}" style="width:100%;"/>
                  </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
        </div>
    </div>
    </div>
</header>

<section id="components" class="bg-light">
    <div class="container">
        <div class="row m-t-md">
            <div class="col-md-6 ">
                <h1><span class="text-success">Vive tu Futuro </span>en tu empresa</h1>
                <br></br>
                <ul style="font-size: 16px; text-align : justify;">
                    <li>Tus compañeros de trabajo recibirán un taller sobre finanzas personales.</li>

                    <li>Este taller motivador cambiará la vida de tu compañero de trabajo al mostrarle la solución de sus problemas financieros.</li>

                    <li>Una persona tranquila en su aspecto financiero mejora su actitud y resultados laborales.</li>
                </ul>

            </div>
            <div class="col-md-6">
                <!--<iframe width="560" height="315" src="images/landing/video1.mp4?=1" allowfullscreen></iframe>-->
                <video width="480" height="280" controls>
                    <source src="{% static "images/landing/video1.mp4" %}" type="video/mp4"></source>
                </video>
            </div>
        </div>
        <div class="row m-t-xl">
            <div class="col-md-6" >
                <video width="480" height="280" controls>
                    <source src="{% static "images/landing/video2.mp4" %}" type="video/mp4"></source>
                </video>
            </div>
            <div class="col-md-6">
                <h1><span class="text-success">Integrate </span>a nuestro equipo</h1>
                <br></br>
                <ul style="font-size: 16px; text-align : justify;">
                    <li>Al unirte al equipo recibes todo el sistema que utilizamos para comenzar a tener prospectos y cierres en un número de citas récord.</li>

                    <li>Recibes toda la capacitación para que puedas empezar a generar grandes resultados.</li>

                    <li>Serás dueño de tu propio tiempo y de tus propios resultados.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="team" class="parallax" style="min-height: 92%;">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3">
                <h2>Nuestras Historias de <span class="text-success">Exito</span></h2>
                <p style="font-size: 18px;">
                    Conoce a todas las personas que han logrado su Libertad Financiera
                </p>
            </div>
        </div>

        <div class="row m-t-lg text-center">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="{% static "images/a2.jpg" %}" class="img-circle img-small" alt=""/>
                    <h4>Martín Gómez</h4>
                    <p>“Aprendí mi diagnóstico financiero actual y me enseñaron cómo poder arreglarlo, hoy vivo tranquilo sabiendo que el futuro de mis hijos está seguro”</p>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="{% static "images/a5.jpg" %}" class="img-circle" alt=""/>
                    <h4><span>User</span> name</h4>
                    <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="{% static "images/a3.jpg" %}" class="img-circle img-small" alt=""/>
                    <h4><span>User</span> name</h4>
                    <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p>

                </div>
            </div>
        </div>
        <div class="row m-t-lg text-center">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="{% static "images/a7.jpg" %}" class="img-circle img-small" alt=""/>
                    <h4><span>User</span> name</h4>
                    <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus. </p>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="{% static "images/a8.jpg" %}" class="img-circle" alt=""/>
                    <h4><span>User</span> name</h4>
                    <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="{% static "images/a9.jpg" %}" class="img-circle img-small" alt=""/>
                    <h4><span>User</span> name</h4>
                    <p>{{user.username.Persona.folio}}Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p>
                    <p><h1>{{user.persona.folio}}</h1></p>
                </div>
            </div>
        </div>

    </div>
</section>


<section id="pricing" class="bg-light">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Los <span class="text-success">mejores </span>para ti</h2>
                <p>Lorem Ipsum available, but the majority have suffered alteration euismod. </p>
            </div>
        </div>

        <div class="row m-t-lg">
            <div class="col-lg-3">
                <ul class="pricing-plan list-unstyled">
                    <li class="pricing-title">
                        Básico
                    </li>
                    <li class="pricing-desc">
                        Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                    </li>
                    <li class="pricing-price">
                        <span>$16</span>
                    </li>
                    <li>
                        Dashboards
                    </li>
                    <li>
                        Projects view
                    </li>
                    <li>
                        Contacts
                    </li>
                    <li>
                        Calendar
                    </li>
                    <li>
                        AngularJs
                    </li>
                    <li>
                        <a class="btn btn-primary btn-sm" href="#">Signup today</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3">
                <ul class="pricing-plan list-unstyled selected">
                    <li class="pricing-title">
                        Standard
                    </li>
                    <li class="pricing-desc">
                        Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                    </li>
                    <li class="pricing-price">
                        <span>$22</span>
                    </li>
                    <li>
                        Dashboards
                    </li>
                    <li>
                        Projects view
                    </li>
                    <li>
                        Contacts
                    </li>
                    <li>
                        Calendar
                    </li>
                    <li>
                        AngularJs
                    </li>
                    <li class="plan-action">
                        <a class="btn btn-primary btn-sm" href="#">Signup today</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3">
                <ul class="pricing-plan list-unstyled">
                    <li class="pricing-title">
                        Premium
                    </li>
                    <li class="pricing-desc">
                        Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                    </li>
                    <li class="pricing-price">
                        <span>$160</span>
                    </li>
                    <li>
                        Dashboards
                    </li>
                    <li>
                        Projects view
                    </li>
                    <li>
                        Contacts
                    </li>
                    <li>
                        Calendar
                    </li>
                    <li>
                        AngularJs
                    </li>
                    <li>
                        <a class="btn btn-primary btn-sm" href="#">Signup today</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3">
                <ul class="pricing-plan list-unstyled">
                    <li class="pricing-title">
                        Prestige
                    </li>
                    <li class="pricing-desc">
                        Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                    </li>
                    <li class="pricing-price">
                        <span>$260</span>
                    </li>
                    <li>
                        Dashboards
                    </li>
                    <li>
                        Projects view
                    </li>
                    <li>
                        Contacts
                    </li>
                    <li>
                        Calendar
                    </li>
                    <li>
                        AngularJs
                    </li>
                    <li>
                        <a class="btn btn-primary btn-sm" href="#">Signup today</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>

<section id="contact" style="min-height: 92%; padding-top: 10%;"> <!--class="bg-light">-->
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3">
                <h2><span class="text-success">Contactanos </span>en cualquier momento</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis minima distinctio, doloribus dolor fugit sint consectetur iure error consequatur, reprehenderit ea fugiat quia eaque, minus, officiis quos pariatur ratione? Ab!
                </p>
            </div>
        </div>

        <div class="row text-center m-t-lg">
            <div class="col-md-5 col-md-offset-2">
                <form class="form-horizontal" role="form" method="post" action="#">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Nombre</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Tu nombre" value=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Correo </label>

                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" name="email" placeholder="usuario@ejemplo.com" value=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input id="submit" name="submit" type="submit" value="Quiero recibir tips" class="btn btn-success"/>
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-md-3 text-left">
                <address>
                    <strong><span class="navy">Vive tu futuro</span></strong><br></br>
                    601 Street name, 123<br></br>
                    New York, De 34101<br></br>
                    <abbr title="Phone">P:</abbr> (123) 678-8674
                </address>
                <p class="text-color">
                    Consectetur adipisicing elit. Aut eaque, totam corporis laboriosam veritatis quis ad perspiciatis, totam corporis laboriosam veritatis, consectetur adipisicing elit quos non quis ad perspiciatis, totam corporis ea,
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
