body{
    background: #ddd url(textured_stripes.png) repeat top left;
}

#header a {
    color:grey !important;
}

#logo{
    line-height: 0px;
}

.panel-titulo-admin{
	margin-top: 100px;
}

.margin_zero{
	margin-left: 0px !important; 
	margin-right: 0px !important; 
	margin-bottom: 0px !important; 
	margin-top: 0px !important;
}
.tabla-admin td, th{
    padding: 5px !important; 
}

.left-zero{
	left:0 !important;
}

.font-admin a{
	font-size: 1.5em !important;
}

.font-admin {
	font-size: 1.5em !important;
}

#user-tools{
	font-size: 1.5em !important;
}
#user-tools p{
	font-size: 1.5em !important;
}
