body{
	background: #ddd url(back3.png) repeat top left;
}
.white{
	color: white;
}
.a_white:hover{
	color:white;
}
.mayusculas{
	text-transform: uppercase;
}
.titulo1{
	color: #3498DB;
	font-weight:bold;
}

.icono{
	padding-right: 10px;
}