
body{
	background: #ddd url(back3.png) repeat top left;
}
.white{
	color: white;
}
.a_white:hover{
	color:white;
}
.mayusculas{
	color:gray !important;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.5em;
	font-weight: 100 !important;
}
.menu a{
	color: gray;
}
.lista{
	list-style-type: none;
}
.lista li{
	padding: 0.5em;
}
.lista li strong{
	text-transform: capitalize;
	padding-right: 8px;
}
.color-gray{
	border-top: 1px dotted #d4d4d4 !important;
}

#logo{
	width: 25%;
}

.icono{
	padding-right: 10px;
}

.titulo1{
	color: #3498DB;
	font-weight:bold;
}