body{
    background: #ddd url(textured_stripes.png) repeat top left;
}

#header a {
    color:grey !important;
}

#logo{
    line-height: 0px;
}

.panel-titulo-admin{
	margin-top: 100px;
}

.margin_zero{
	margin-left: 0px !important;
	margin-right: 0px !important;
	margin-bottom: 0px !important;
	margin-top: 0px !important;
}
.tabla-admin td, th{
    padding: 5px !important;
}

.left-zero{
	left:0 !important;
}

.font-admin a{
	font-size: 14px !important;
}

.font-admin {
	font-size: 1.5em !important;
}

#user-tools{
	font-size: 1.5em !important;
}
#user-tools p{
	font-size: 1.5em !important;
}

.margin_small{
  margin-top: -6em;
}
.margin_xsmall{
  margint_top: -9em;
}
.font_medium{
  font-size: 18px !important;
}
#user-tools{
  font-size: 14px !important;
  text-transform: none;
}
#contenido #content-main{
  font-size: 12px !important;
}
#content-main caption{
  background-color: #354a5e;
}
#content-main tbody a{
  color: #6a6c6f;
  font-weight: lighter;
}
#recent-actions-module{

}
