body{
	background: #ddd url(back3.png) repeat top left;
}
.white{
	color: white;
}
.a_white:hover{
	color:white;
}
.mayusculas{
	text-transform: uppercase;
	text-align: center;
}
.menu a{
	color: gray;
}
.lista{
	list-style-type: none;
}
.lista li{
	padding: 0.5em;
}
.lista li strong{
	text-transform: capitalize;
	padding-right: 8px;
}