{% extends 'base/vistas_base.html' %}
{% load static  %}
{%block title%}Mensajes{%endblock%}


{% block content %}
<div class="content animate-panel">

    <div class="row">
      <div class="col-md-2"></div>
        <div class="col-md-8 animated-panel zoomIn" style="animation-delay: 0.1s;">
            <div class="hpanel ">
                <div class="panel-heading hbuilt">
                    <div class="panel-tools">
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Mensajes
                </div>
                <div class="panel-body no-padding">
                    <div class="row">
                        <div class="col-md-9  animated-panel zoomIn" style="animation-delay: 0.2s;">
                          <div class="chat-discussion" id="chat">
                            {% include "mensajes/chat.html" %}
                          </div>
                        </div>
                        <div class="col-md-3 animated-panel zoomIn" style="animation-delay: 0.2s;">
                            <div class="chat-users">
                                <div class="users-list">
                                  {% for usuario in asesorCliente %}
                                    <div class="chat-user">
                                        <div class="chat-user-name">
                                            <button onclick="mostrar('{{forloop.counter0}}')" class="btn w-xs btn-link">{{usuario.idAsesor.first_name}}{{usuario.idAsesor.last_name}}</button>
                                            <div hidden value="{{usuario.idAsesorCliente}}" id="{{forloop.counter0}}"></div>
                                        </div>
                                    </div>
                                  {% endfor %}
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="panel-footer">
                    <div class="input-group">
                        <textarea name="mensaje" placeholder="Escribe tu mensaje" id="caja_texto" class="form-control" data-href="643" cols="25" rows="3"></textarea>
                        <span class="input-group-btn">
                            <button class="btn btn-success" id="btn_enviar">
                                Enviar</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script>
        $("#caja_texto").keypress(function(e) {
           if(e.which == 13) {
                // Acciones a realizar, por ej: enviar formulario.
                $('#frm').submit();
                $("#caja_texto").val("");
           }
        });
    </script>
    <script>
      function mostrar(id) {
        ids = '#'+id;
        console.log(ids)
        var a = $('#0').val();
        console.log(a)
        alert(a);
      }

    </script>
    <script>
      $("#btn_enviar").on("click",function(){
        var csrf = {csrfmiddlewaretoken: '{{ csrf_token }}'}
        $.ajax({
          type: "POST",
          data: csrf,
          url: $(this).atrr('data-href'),
          success: function(mensajes_nuevos){
            $("#chat").load(mensajes_nuevos);
          },
        });
      });
    </script>
{% endblock %}
