{% extends 'base/vistas_base.html' %}
{% load static  %}
{%block title%}Mensajes{%endblock%}


{% block content %}
<div class="content animate-panel">

    <div class="row">
      <div class="col-md-2"></div>
        <div class="col-md-8 animated-panel zoomIn" style="animation-delay: 0.1s;">
            <div class="hpanel ">
                <div class="panel-heading hbuilt">
                    <div class="panel-tools">
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Mensajes
                </div>
                <div class="panel-body no-padding">
                    <div class="row">
                        <div class="col-md-9  animated-panel zoomIn" style="animation-delay: 0.2s;">
                          <div class="chat-discussion">
                            {% for index,msj in mensajes.items %}
                              {% for m in msj  %}
                                  {{m.tipo}}
                              {% endfor %}
                            {% endfor %}
                          </div>
                        </div>
                        <div class="col-md-3 animated-panel zoomIn" style="animation-delay: 0.2s;">
                            <div class="chat-users">
                                <div class="users-list">
                                  {% for usuario in asesorCliente %}
                                    <div class="chat-user">
                                        <img class="chat-avatar" src="images/a3.jpg" alt="">
                                        <div class="chat-user-name">
                                            <a href="#">{{usuario.idAsesor.first_name}}{{usuario.idAsesor.last_name}}</a>
                                        </div>
                                    </div>
                                  {% endfor %}
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="panel-footer">
                    <div class="input-group">
                        <input type="text" maxlength="240" class="form-control" placeholder="Escribe tu mensaje aqui">
                        <textarea name="" id="" class="form-control" cols="25" rows="3"></textarea>
                        <span class="input-group-btn">
                            <button class="btn btn-success">
                                Enviar</button>
                        </span>
                    </div>
                </div>

            </div>


        </div>

    </div>


</div>

{% endblock %}

<div class="chat-discussion">
    <div class="chat-message left">
        <img class="message-avatar" src="images/a2.jpg" alt="">
        <div class="message">
            <a class="message-author" href="#"> Michael Smith </a>
            <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                <span class="message-content">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
                </span>
        </div>
    </div>
    <div class="chat-message right">
        <img class="message-avatar" src="images/a2.jpg" alt="">
        <div class="message">
            <a class="message-author" href="#"> Michael Smith </a>
            <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
              <span class="message-content">
                  There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
              </span>
        </div>
    </div>
</div>
