body {
	background: url(../../login/login4.jpg) no-repeat center center fixed !important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;t;

	 -webkit-transition: background 1s ease;
    -moz-transition: background 1s ease;
    -o-transition: background 1 ease;
    transition: background 1s ease;
}
.vive{
	font-weight: bold;
}

.panel-body{
	background: transparent !important;
	border: 0px solid #e4e5e7 !important;
}
#login-container{
	background-color: white !important;
}
#panel-contenido{
	margin-top: 0 !important;
}
#contenido{
	margin-top: 1em;
}
input[type=text], input[type=password]{
  width: 100% !important;
	line-height: 2em;
	margin-bottom: 1em;
	vertical-align: middle;
}
label{
  text-align: left !important;
  width: 100% !important;
	margin-left: 0 !important;
}
input[type=submit]{
	background-color: #62cb31 !important;
	border-color: #62cb31 !important;
	color: #FFFFFF !important;
}
